[2015-05-14 08:08] spinningarrow opened #2 "gh-pages link to script is wrong"
-.-

EDIT: On master too, actually.

[2015-08-10 23:15] davidmerfield opened #4 "Doesn't work in Safari Version 8.0.5 (10600.5.17)"
Clicking a zoomable image once shows the overlay but does not change the image's size or position.

Not getting any errors in the console. Will investigate.

[2015-08-23 15:44] spinningarrow commented on #4
That's odd, let me look into it.
Did your investigation yield anything?

[2015-12-09 07:27] spinningarrow commented on #2
@heavybeard Hey thanks for pitching in - appreciate it! Could you add the commit id in which it was fixed?

[2015-12-09 07:35] heavybeard commented on #2
Hi @spinningarrow I made a mistake, sorry. I reopen it!
With master you referred on the original zoom.js?

[2015-12-09 07:49] spinningarrow commented on #2
No worries, it happens!

I think my original description is really un-descriptive haha. The issue is that in the `index.html` file on this repo, there's a `script` tag in the end which should point to the script in the dist folder but it's currently pointing to `dist/index.html`. The issue is present on the `gh-pages` and `master` branches in this repo.

[2015-12-09 08:57] heavybeard commented on #2
Aaaah ok! In fact your demo doesn't work
http://spinningarrow.github.io/zoom-vanilla.js/

I'll fix it :)

[2015-12-09 08:59] spinningarrow commented on #2
Exactly, because it can't find the path to the script (whoops).

Thanks once again!

On Wednesday, 9 December 2015, Andrea Cognini <notifications@github.com>
wrote:

--
—Sahil

[2015-12-09 09:13] heavybeard commented on #2
I've pushed on master (id 68cf985452e8524e1b26e365c27c3c66d1bb3d46).

What's different on gh-pages? I've seen only my modified files, so you can try a merge.

[2015-12-09 10:57] heavybeard commented on #4
There's an error here
[code]

So Safari can't call the follow function
[code]

Can someone investigate on the use of function .bind()? Maybe the main error is here.

About image size and position the fix is the use of ```style.webkitTransform```
I'll push the commit about it

[2015-12-09 13:18] heavybeard commented on #4
Now works on Safari.
Here is the commit https://github.com/spinningarrow/zoom-vanilla.js/commit/93c2fd0e8ce45b5e5e488c07dc0725ddf9bc1934

Can you try it?

[2016-01-04 18:21] jstnbr opened #6 "Demo not working correctly on Chrome"
Hi,

The demo page is not working correctly on Chrome 47.0.2526.106.  I'm not sure what extra information I should provide here except for the fact that I am clicking on an image and nothing is happening.  Is the demo page working for you?  And on what browser?

Thank you,
Justin

[2016-01-04 18:37] heavybeard commented on #6
Hi Justin,
can you try it now?

Andrea

[2016-01-04 18:39] heavybeard commented on #2
With the merge from master branch i've fix it

https://github.com/spinningarrow/zoom-vanilla.js/pull/7

[2016-01-04 18:39] #2 closed

[2016-01-05 00:05] jstnbr commented on #6
Hey @heavybeard ,
I will check tomorrow morning and let you know.  I am away from that PC now, but I'm happy to see it's working on my Macbook Safari 8.0.8.

Thanks,
Justin

[2016-01-05 00:31] heavybeard commented on #6
Perfect :)
Your issue is relative to this https://github.com/spinningarrow/zoom-vanilla.js/issues/2 and today I fixed on `gh-pages` branch - from `master` branch.

Be careful: the minimized version is not updated

[2016-01-05 14:28] jstnbr commented on #6
It works!  Thanks for keeping me updated.

[2016-01-05 17:07] heavybeard commented on #4
Hi @davidmerfield
can you try it now. Now works fine for me.

[2016-01-05 17:08] heavybeard commented on #6
If you notice some bugs, please keep me update

[2016-01-05 17:08] #6 closed

[2016-01-14 13:59] spinningarrow commented on #4
Closing because of inactivity and because it's working on my computer too.

[2016-01-14 13:59] #4 closed

[2016-01-15 10:43] heavybeard opened #10 "Create helpful documentation"
Create an helpfull documentation for functionality integrations and data attributes usations.

Use comments on scripts and css for explanations

[2016-01-19 14:28] spinningarrow commented on #10
Do you mean documentation as in on the README.md or the wiki, or program comments in the `zoom.js` source file?

[2016-01-19 14:59] heavybeard commented on #10
I mean everythings :smiley:

* A README.md for presentation like an landing page for linking to Wiki
* Comments on sources for explanations.
* Add a gulp (or grunt, or both) in order to minimize sources for distributions.

Soon I will start a new branch only for these

[2016-01-19 15:00] spinningarrow commented on #10
Nice!

From my side, yes to the first two, but no to the last :tongue:

Check out `package.json` for the simple build script I wrote which can be invoked by doing `npm run build`. Keeping it simple once again ;)

[2016-01-19 15:04] spinningarrow opened #12 "Use a single branch"
@heavybeard I'm doing this right now, so please hold off on any pushes.

[2016-01-19 15:05] heavybeard commented on #10
Ahahaha perfect!

[2016-01-19 16:05] spinningarrow commented on #12
All right, this is done. There were some breaking changes, so the easiest option would be to reclone and work from there. Do let me know if you need any assistance 🙂

Essentially this is what I did:

1. deleted the `master` and `develop` branches
2. retroactively replaced the video files in `video/example` with much smaller files. The repo size is now 4.7MB which is still a bit large but better th

[2016-01-19 16:05] #12 closed

[2016-01-19 16:14] spinningarrow opened #13 "Improve the code"
@heavybeard you mentioned on #7 that you would like to optimize the code. Let's discuss that here.

On the one hand, I agree because the current code is rather messy/non-traditional but on the other hand right now it maps very closely to the original code on the upstream repo.

With improved code, we'll have ... improved code but it might get more difficult to consume upstream changes.

What do yo

[2016-01-19 16:34] heavybeard commented on #13
Yeah, this is the crucial point.

In my head I think that is a good idea to turn off with original code because we are more active than it (the new video feature can be an evidence).

But I understand that you started this vanilla branch with the README.md purpose:

So, is a good idea start a new branch or a new repo?

[2016-01-24 14:01] heavybeard commented on #10
Hi @spinningarrow,
yesterday I started the new branch https://github.com/spinningarrow/zoom-vanilla.js/tree/refactoring

In next days I'll write the README.md

[2016-01-24 14:03] heavybeard commented on #13
I started a new branch https://github.com/spinningarrow/zoom-vanilla.js/issues/10#issuecomment-174300155 with code refactoring

[2016-01-26 23:20] heavybeard opened #15 "Test with picture elment"

[2016-01-26 23:21] heavybeard opened #16 "Add data-zoom-original in video and picture too"

[2016-01-27 19:16] heavybeard commented on #15
I've added the picture element support with this commit https://github.com/spinningarrow/zoom-vanilla.js/commit/2e03d978fcd27d1dbe06af5f892f0460b56d73ef

I'll add it on the gh-page in the future

[2016-01-27 19:16] #15 closed

[2016-01-27 21:19] heavybeard commented on #16
data-zoom-original works on picture.

There're problems about source new requests on every click

[2016-01-31 14:25] spinningarrow commented on #13
Thanks - I took a look at the `refactoring` branch, which includes various changes: moving files to a new folder structure, the addition of Sass, including Bower, JSDoc documentation in the main js file, and so on. It's a good effort but ultimately I think it's taking this project in a direction different to the original intention. I would just like this to be a simple library with a small codebas

[2016-01-31 14:25] #13 closed

[2016-02-01 20:34] heavybeard commented on #13
Now on my fork https://github.com/heavybeard/zoom-vanilla.js there's the refactoring branch, so we can remove it from this fork.

[2016-02-02 03:02] spinningarrow commented on #13
Sounds good, thanks!

[2016-02-02 03:19] #10 closed

[2016-02-04 08:54] spinningarrow commented on #16
Closing as no longer relevant.

[2016-02-04 08:54] #16 closed

[2016-07-30 02:26] Ilshidur opened #21 "Remove the "style" attribute on the unzoomed image"
I recently noticed when zooming on an image and then unzooming that there's a residual "style" attribute on the image :

<img src="http://i.imgur.com/LMcgL0q.jpg">

This can be annoying when trying to change the width of the picture using CSS (e.g. : responsive design).

[2016-07-30 09:31] spinningarrow commented on #21
Hi @Ilshidur, thanks for raising this issue! I'll look into it shortly and update here once I have a fix.

[2016-08-27 16:11] #21 closed

[2016-09-14 23:55] adehner opened #22 "Cannot read 'addEventListener' of null"
I'm getting an Uncaught TypeError: Cannot read 'addEventListener' of null (line 2 of zoom-vanilla.min.js and line 20 of zoom-vanilla.js) and the zoomed image is not opening.

Any idea why this is happening?

[2016-09-15 04:00] spinningarrow commented on #22
Could you post a CodePen (or equivalent) of the code that's causing this to happen?

[2016-09-15 04:01] spinningarrow commented on #22
[Line 20](https://github.com/spinningarrow/zoom-vanilla.js/blob/gh-pages/js/zoom-vanilla.js#L20) adds an event listener to `document.body`, which should surely not be null in a browser.

[2016-09-15 04:02] spinningarrow commented on #22
Ah this might be it - are you adding the script inside `<head>` or before the closing `</body>` tag? It needs to be the latter.

[2016-09-15 15:18] adehner commented on #22
That was it! Thanks so much.

[2016-09-15 15:18] #22 closed

[2016-09-15 15:43] spinningarrow commented on #22
No problem. I think it's worth adding that to the readme - I'll do that now.

[2016-09-23 14:13] ocordova opened #23 "Blur Image On Desktop Chrome browsers"
The zoomed image looks blurry on Chrome Desktop even when using a high quality image. No issue with Firefox or Edge.

[2016-09-23 14:38] spinningarrow commented on #23
Thanks for opening this. I've heard mention of this bug before but had no luck reproducing it. Could you provide some more information (such as your platform/browser version) or even better - a CodePen example where you see this happening?

[2016-09-23 15:39] ocordova commented on #23
I realized that there are also some opened issues in fat's repo... You can reproduce it by opening your demo page (or fat's)  with Chrome on a Desktop. I've tested it in **Windows w/ Chrome 54.0.2840.34 (64-bit)** and **macOS Sierra v10.12 w/ Chrome 53.0.2785.116 (64-bit)**

Perhaps it is imperceptible for photographs, but images with text make it difficult to read.
![issue](https://cloud.githubus

[2016-09-26 14:41] spinningarrow commented on #23
Oddly enough, I'm still not seeing this (tried with a textual image). I don't doubt it's happening; I'd just like to reproduce it so I can be sure I've fixed it once I change the code.

[2016-09-26 14:48] spinningarrow commented on #23
These are the images I tried - can you check if you see any blurriness with them?

### Image 1
<img width="676" alt="screen" src="https://cloud.githubusercontent.com/assets/1797328/18838678/db17283e-843a-11e6-952a-dba49206e8cc.png">

### Image 2
<img width="718" alt="screen2" src="https://cloud.githubusercontent.com/assets/1797328/18838679/db18d9a4-843a-11e6-98db-5c7b34fc616b.png">

### Image 3
![

[2016-10-08 20:41] collnwalkr opened #24 "zoom-img-wrap repositions incorrectly in Firefox 49.0.1"
**My setup:** Firefox 49.0.1, MacBook Pro 10.10.5

**Issue:** When zooming on image, the `zoom-img-wrap` div incorrectly  repositions itself too far down the page. It seems that this behavior is dependent on the scroll position. Here are some images showcasing this bug. Each of these are a series of before and after shots. The first image is where I am in the demo page scroll wise, the second is t

[2016-10-08 21:19] collnwalkr commented on #24
Just as I expected, the underlying issue is found in the [mozilla docs](https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect):

I've been able to verify that this bug is due to the aforementioned viewport scrolling quirk through debugging. I'm working on a fix now that will probably be in line with Mozilla's suggested fix:

[2016-10-08 22:25] collnwalkr commented on #24
Turns out it was a pretty easy fix. The reason rect.top was not calculated correctly was due to `document.body.scrollTop` [not playing nicely with some browsers](https://miketaylr.com/posts/2014/11/document-body-scrolltop.html)

**Chrome**
<img width="1549" alt="screen shot 2016-10-08 at 3 14 24 pm" src="https://cloud.githubusercontent.com/assets/7200683/19216276/fe086988-8d69-11e6-9a73-679507d205

[2016-10-09 08:26] heavybeard opened #26 "IE 11 has several issues about opened photo's position"
There's some issues on Internet Explorer 11.187.14393.0
- When you are on top of the page (y = 0), the image open in this way
  ![image](https://cloud.githubusercontent.com/assets/12038447/19218961/55cd3c50-8e07-11e6-9e91-8b4957f31c58.png)
- On a specific area the image open where you expect it
  ![image](https://cloud.githubusercontent.com/assets/12038447/19219051/344675a4-8e09-11e6-9e88-271d0e39

[2016-10-21 13:44] meleyal opened #27 "Unable to use with webpack"
The `package.json` states the main entry as `js/zoom-vanilla.js`, but the `js` dir is ignored in `.npmignore` so it doesn't exist when pulling it from npm.

[2016-10-21 14:06] meleyal commented on #27
Managed to solve it with:

[code]

[2016-10-27 09:24] spinningarrow commented on #24
Sorry for the lack of responses, and thanks for the detailed report! I'll get back to once I've done some investigation, though it might be a while since I'm going on vacation for a week.

[2016-10-27 09:24] spinningarrow commented on #26
Thanks for the analysis! Will get back once I've done some further investigation.

[2016-10-27 09:27] spinningarrow commented on #27
Ah, that's interesting. `js/zoom-vanilla.js` the main file for development but `dist/zoom-vanilla.min.js` is the main file for distribution. Does webpack look only at the main entry in package.json?

[2016-10-27 09:36] spinningarrow commented on #27
After some thought, I think pointing `main` to `dist/zoom-vanilla.min.js` makes the most sense.

[2017-01-09 16:01] #27 closed

[2017-02-08 19:20] marathia commented on #23
None of the CSS solutions suggested here and elsewhere worked for me, but this did: in zoom-vanilla.js (lines 189, 189) replace:

`var translateY = viewportY - imageCenterY`
`var translateX = viewportX - imageCenterX`

with:

`var translateY = Math.round(viewportY - imageCenterY)`
`var translateX = Math.round(viewportX - imageCenterX)`

(inspired on [this PR](https://github.com/fat/zoom.js/pull/52

[2017-03-04 20:37] marathia commented on #26
If anyone found a solution for this, please share it...

[2017-03-05 16:59] spinningarrow commented on #23
@ocordova @marathia I've applied that change ^ in the latest commit. If you have the time, can you test if it fixes the issue? Thank you (and apologies for the long delay in getting this out)!

Uses the change from https://github.com/fat/zoom.js/pull/52

[2017-03-05 17:14] spinningarrow commented on #24
Once again, thanks for the great effort. Your fix looked good, and I have merged it in.

[2017-03-05 17:14] #24 closed

[2017-03-05 17:34] spinningarrow commented on #26
Okay, so I just got IE on a VM and I'm looking at this issue.

@marathia @heavybeard from what I can see, basically the zoomed image doesn't move and essentially opens in the same place as the original image, but with different dimensions. Is this observation correct?

[2017-03-05 17:52] #26 closed

[2017-03-05 17:54] spinningarrow commented on #26
I've pushed a fix for this. Can you please check if the latest version works fine on IE? The VM I have is super slow and I'm unable to test fully in it. Besides the position, if you could also check the behaviour for dismissal when scrolling, and clicking with the Ctrl key pressed - I would be super thankful!

[2017-03-05 17:55] heavybeard commented on #26
I'll try it. It's been so long that can not remember

[2017-03-05 17:56] spinningarrow commented on #26
I'm sorry 🙈

[2017-03-05 17:57] heavybeard commented on #26
Now works perfectly!!!

[2017-03-05 17:58] spinningarrow commented on #26
Yay!

Once I get confirmation that the other bugs have been fixed, I'll make a release 💯

[2017-03-06 12:22] marathia commented on #23
@ spinning arrow This indeed fixes the blurriness, thanks!

[2017-03-06 13:51] marathia opened #28 "add cursor: zoom-in and cursor: zoom-out"
Please consider adding `cursor: zoom-in;` and `cursor: zoom-out;` to zoom.css, especially for Edge that only supports the unprefixed versions (see [http://caniuse.com/#feat=css3-cursors-newer](http://caniuse.com/#feat=css3-cursors-newer)).

[2017-03-06 17:12] spinningarrow commented on #23
Awesome, closing this 💯

[2017-03-06 17:12] #23 closed

[2017-03-06 17:14] spinningarrow commented on #28
I don't mind at all. Would you perhaps have the bandwidth to make a pull request for this change?

[2017-03-19 07:25] #28 closed

[2017-03-19 07:25] spinningarrow commented on #28
Fixed by incorporating [autoprefixer][] in the build chain.

[autoprefixer]: https://github.com/postcss/autoprefixer

[2017-04-09 04:16] spinningarrow opened #29 "Doesn't get dismissed on mobile browsers"
When clicking outside the zoomed image on iOS Safari + Chrome, the zoomed image doesn't get dismissed.

[2017-04-23 03:46] #29 closed

[2017-05-24 07:57] doublnt opened #31 "About zoom out when is big"
The image is like this below

When I use the scripts, It doesn't work. The image will zoom in when I click the image.
How should I modified to apply this  in such big image in my project?

[2017-05-24 12:29] spinningarrow commented on #31
@doublnt Which browser is this in? And if possible can you create a codepen/jsfiddle/some live example where I can test this?

[2017-05-24 13:05] doublnt commented on #31
I use another way (open new page  ) to show my image

[2017-05-24 13:05] #31 closed

[2017-08-21 21:59] cwahlfeldt opened #32 "Slick Carousel and Vanilla Zoom"
This might be a long shot but I cant seem to get this to work within a slick carousel. Has anyone gotten slick carousel and zoom to work? Or any slider + zoom configuration to work?

The issues seem to be stemming from the dispose function not being called at all?

[2017-08-22 02:24] spinningarrow commented on #32
@cwahlfeldt I haven’t used slick carousel before - can you link to it?

Or even better - it would be super helpful if you could make a quick codepen or jsfiddle example with the carousel and vanilla zoom to help me debug.

[2017-08-22 18:50] cwahlfeldt commented on #32
Hey @spinningarrow Thanks for getting back to me - I made a codepen to check out. https://codepen.io/cwahlfeldt/pen/YxLMGP

[2017-08-23 02:58] spinningarrow commented on #32
I think it has something to do with the styles slick applies to the images. There's a class called `slick-side` which sets `display: none` causing the zoomed image to disappear.

[2017-09-17 05:20] spinningarrow commented on #32
Hi @cwahlfeldt since this seems to be an issue with a different third party plugin, I'm closing this issue. Feel free to reopen if you feel it should be fixed in zoom-vanilla.js though!

[2017-09-17 05:20] #32 closed

[2017-10-10 11:01] batcode007 opened #33 "image zoom in meteor android cordova"
I am building a chat application using Meteor for Android. I have included "Add Image" option using cordova camera plugin. Now, after the image is uploaded and is seen by the users, I want to click on it and zoom it.
Here's my image rendering code :
 `<div class="message">
          <p class="Text">{{t.text}} </p>
          {{#if isImage t}}
               <p id="selectable" class="loaderpara" sty

[2017-10-11 04:29] evanart opened #34 "Zoom doesn't activate when image is bigger than the viewport"
First of all, thanks for the great work on this, it's awesome.

One small issue I've noticed is this: I have images on my site that span the entire width of the page - They are blown up to be sort of full page images. This means that sometimes they are taller than the viewport of the browser, which causes some of the top/bottom to get cut off. In this case, I'd like the user to be able to click th

[2017-10-12 09:59] spinningarrow commented on #34
@evanart that seems to be happening because of the code here: https://github.com/spinningarrow/zoom-vanilla.js/blob/gh-pages/js/zoom-vanilla.js#L39. You're right that's it's a bit misleading that the magnifying glass icon is shown despite the zoom effect not actually working on that image.

Hmm, let me dig around and see what the reason behind that check was - I feel like it's a bug (and I agree w

[2017-10-12 10:02] spinningarrow commented on #33
@batcode007: Thanks for your bug report. A few questions:

1. Do you see any JS errors in the console?
2. Does it work fine with the same code in the browser? (I'm not too familiar with Meteor for Android; only used Meteor for the web a few years ago)
3. What is the `inno:zoom` package? Is it a wrapper around this one?

[2017-10-12 14:54] spinningarrow commented on #34
Looks like that code [has been there since the first commit](https://github.com/fat/zoom.js/commit/904659e36291db98b73f085e9112367ad8eff577#diff-3480795a24ca13743948f6ea832c7c5dR24) so no idea what the context was behind it.

[2017-10-12 15:29] spinningarrow commented on #34
I've pushed a change on master that fixes this. Can you take a look and let me know if it works and doesn't appear to break anything else?

[2017-10-12 15:37] evanart commented on #34
Thank you so much for your work on this. I'm at work right now but I'll update my site and give it a shot when I have a free moment.

[2017-10-18 11:42] aaronb123 opened #35 "Zooming an image does not expand on click"
Hi,

Thanks for this!

I am trying to activate the zoom, and have got everything installed with the zoom icon showing when I hover over the image - however when I click to zoom into the image nothing happens?

Thanks!

[2017-10-18 21:56] spinningarrow commented on #35
Do you see any errors in the devtools console after you click on a zoomable image?

[2017-10-18 22:21] aaronb123 commented on #35
transition.js:59 Uncaught ReferenceError: jQuery is not defined
    at transition.js:59
zoom-vanilla.min.js:2 Uncaught TypeError: Cannot read property 'addEventListener' of null
    at Object.e [as listen] (zoom-vanilla.min.js:2)
    at zoom-vanilla.min.js:2
    at zoom-vanilla.min.js:2

[2017-10-19 12:49] spinningarrow commented on #35
The transition.js error seems to be coming from some other library
(zoom-vanilla does not depend on jQuery or anything else).

Are you loading the zoom-vanilla.js script using a script tag before the
closing body tag?

On Wed, 18 Oct 2017 at 11:21 PM, aaronb123 <notifications@github.com> wrote:

--
—Sahil

[2017-10-19 14:53] aaronb123 commented on #35
Ok, I have got ridden of transition.js now.

Yes I am run like this before body and before closing the head tag - `<script src="./zoom-vanilla.min.js"></script>`

Error now in console is as before, but without transition.js

`Uncaught TypeError: Cannot read property 'addEventListener' of null
    at Object.e [as listen] (zoom-vanilla.min.js:2)
    at zoom-vanilla.min.js:2
    at zoom-vanilla.min.j

[2017-10-19 14:54] aaronb123 commented on #35
Do images need to be certain width as well? Thank you!

[2017-10-19 15:52] spinningarrow commented on #35
I think that’s the issue - you’ll need to have the script before the
closing _body_ tag i.e. towards the end of your HTML. It should not be
inside the <head> section.

On Thu, 19 Oct 2017 at 3:53 PM, aaronb123 <notifications@github.com> wrote:

--
—Sahil

[2017-10-19 16:05] aaronb123 commented on #35
Issue seemed to have fixed itself after adding more than one image. However whats the best solution to allow the image to retain size when clicked, for example the image gets cropped/chopped off on the zoom. Thank you!

[2017-10-20 10:25] spinningarrow commented on #35
Great, I'm glad the original issue is resolved.

For the other thing you mentioned (retaining the image size when clicked), I'm not sure if I fully understand. Would it be possible for you to create a codepen or equivalent example so I can explore it more thoroughly? Thanks!

[2017-10-20 10:37] aaronb123 commented on #35
Hi,
I have created a video to show you an example if thats ok?
(http://sendvid.com/n1z2skkd)

Can I change the width or size of how much shows when zoomed? As when im on mobile the image is very small - see this video (http://sendvid.com/cb4nrpo9)

Hope this helps, thank you for all the help!

[2017-11-29 19:13] marathia opened #36 "doesn't work properly with placeholder images present"

[2018-02-17 01:56] ezetojo opened #37 "Way to limit max width?"
I tried using css to limit the size but its calculated using css transform-scale...

any idea?

i also tried editing the js but i don't get it all. all i did was set the scale formula to half, but itsnt cool in mobile.

thanks in advance

pd. full-width scale the image to large for my... so i want to set a max width (kinda 1000px) on desktop to the img.

[2018-02-18 00:17] spinningarrow commented on #37
I've created a codepen with what I think is the desired behaviour here: https://codepen.io/spinningarrow/pen/aqEaEQ

Essentially, I've modified the `calculateZoom` function to add a check for a maximum width. Refer to lines 188-194 of the JS in the pen.

This way, the image will not scale up beyond 1000px. Is this how you intended it to behave?

[2018-02-18 00:19] spinningarrow commented on #36
Hi, apologies for getting back to you so late. I'm able to get it working with placeholder images: https://codepen.io/spinningarrow/pen/papOLd

Or did you mean it doesn't work in some other way?

[2018-02-18 00:23] spinningarrow commented on #35
Apologies for getting back to you so late! It appears that some other CSS (or HTML element) is interfering with the zoomed image - when it's zoomed it looks like the top and bottom of the image are clipped. I don't think I can figure out exactly what's going wrong without some kind of fiddle or CodePen example to play around with though; sorry about that!

[2018-02-20 19:18] ezetojo commented on #37
@spinningarrow thanks! that's what i was trying to do!

[2018-02-20 19:18] #37 closed

[2018-03-16 17:02] johnpyp opened #38 "Using this with dynamically loaded vue images?"
Does this work with dynamically loaded images/dom?

Also, is it possible to make it usable with import statements in vue/react?

[2018-03-17 22:02] zachlyon opened #39 "Interesting shrinking behavior with svg images"
@spinningarrow I'm using this as a plugin and it works great, thank you! However, I did notice some odd behavior with SVG used as ` <img src="image.svg" data-action="zoom" width="1024" height="768" /> `.

See attached GIF example, the first image "Hill Valley" is PNG, the second "Mountain Valley" is SVG and they use the same repeating HTML template and attributes, the only difference is their imag

[2018-03-19 03:29] spinningarrow commented on #38
Yes, it should work with dynamically loaded images.

For your second query - I’m not sure as I haven’t tried it before. Are you facing any issues with that approach?

[2018-03-19 03:30] spinningarrow commented on #34
Closing because of inactivity. Feel free to reopen if this is still an issue!

[2018-03-19 03:30] #34 closed

[2018-03-28 01:35] spinningarrow commented on #39
Hmm, that's quite odd. I wrote a quick CodePen to test this https://codepen.io/spinningarrow/pen/ZxvLwm and it seems to be working fine for the SVG image I used. Could you try with your image there so we can make sure it isn't something else on your page that's affecting the SVG?

[2018-03-28 03:21] zachlyon commented on #39
It appears to have the same effect on the code pen. 🤔

![2018-03-27 20 19 22](https://user-images.githubusercontent.com/6486623/38007011-4205e808-31fc-11e8-8a6e-a001ec5007b2.gif)

[2018-03-28 04:03] spinningarrow commented on #39
Weird. Which browser are you using? Can you send me a link to your pen with
the svg that isn’t working fine?

On Wed, 28 Mar 2018 at 11:21 AM, Zach Lyon <notifications@github.com> wrote:

--
—Sahil

[2018-04-12 07:02] Resonanz opened #40 "Edge failure"
Just visited the bottom image on this website:

http://themes.getbootstrap.com/preview/?theme_id=1703&show_new=

and clicked to enalrge, then decrease, but mouse could no longer clock on anything and magnifying glass with "-" symbol remained.

[2018-04-12 07:51] spinningarrow commented on #40
Thanks for reporting this! The demo page for this repo appears to have that issue on Edge as well. I'll look into it.

[2018-04-25 16:44] bigrepository opened #41 "Element styles removed when zooming out (targetImageClone.style.visibility = 'hidden')"
An image that has element styles defined like

<img src="image.jpg" **style="max-width:100%; border:1px solid #ccc"** data-action="zoom"> looses it's styles when "visibility: hidden;" is removed, after the image is zoomed back out.

Instead of just removing "visibility:hidden", element styles are removed completely. I don't think this is intended behaviour.

[2018-04-30 14:00] spinningarrow commented on #41
I'm not able to reproduce this issue. [Here is a pen I created trying to reproduce it](https://codepen.io/spinningarrow/pen/vjxLBg). Am I missing something?

[2018-04-30 14:15] spinningarrow commented on #35
Closing because of inactivity. Please reopen it if this is still an issue!

[2018-04-30 14:15] #35 closed

[2018-04-30 14:15] spinningarrow commented on #36
Closing because of inactivity. Please reopen if this is still an issue!

[2018-04-30 14:15] #36 closed

[2018-05-02 15:49] evanart opened #42 "Zooming works a little strangely when paired with object-fit: cover;"
So on my website I wanted to put some images into a grid using flexbox. The images are all different aspect ratios, so to keep the grids looking clean I'm putting object-fit: cover and height: 100% on the img elements - that makes them fill their containing box vertically, the sides of the image being cropped off by the container.

Zoom has a kind of minor issue with this. When an image is clicked

[2018-05-30 08:20] spinningarrow commented on #39
@zachlyon can you confirm that the above approach works for you?

[2018-05-31 21:53] zachlyon commented on #39
@MikeStardust - That was it!

Also, I compared the Norway flag SVG from the codepen with my SVGs and I see an explicit `width` and `height` attributes set, where mine only had `viewBox` dimensions.

``` <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 768"> ... </svg> ```

versus

``` <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://ww

[2018-05-31 21:53] #39 closed

[2018-06-19 14:30] equinusocio opened #43 "Question: Image size limit"
Hi, just a question, is it possible to set a max width/height or a max scale ratio to the zoomed image?

PS: Maybe this can be a feature request..

[2018-06-19 14:35] heavybeard commented on #43
From what I remember it is not possible, but I have not followed this repo for a while
@spinningarrow have you add this feature?

[2018-07-05 15:26] slcr opened #44 "Use data-original as src"
Would it be possible to use `data-original` as a src for the zoom?
Right now it just zooms the src-size, which would result in a not much bigger/zoomed image when you're working with correct image sizes.

[2018-07-05 15:28] rafal-olszewski commented on #43
Didn't test it, but you could try modifying the CSS like so:

[code]

[2019-03-11 02:42] jweissig opened #45 "Image blurry on zoom"
I have spent a few hours trying to debug this but cannot seem to find the cause. I am using your great plugin (v2.0.6) with bootstrap on my website. But, the images are blurred when you click to zoom. It just appears to be a few pixels off but makes them looked a little washed out.

You can see this in action here: https://sysadmincasts.com/episodes/58-simple-deployment-pipeline

Here is a side by

[2019-03-31 14:51] jweissig commented on #45
Closing this. Adding a higher resolution image seems to fix the problem for me. If you find yourself here via Google, try adding a larger resolution image and see if that fixes the problem for you too.

[2019-03-31 14:51] #45 closed

[2019-05-14 04:45] jerryc127 opened #46 "how to zoom "background-image""
how to zoom  "background-image"

[2019-05-14 06:10] spinningarrow commented on #46
I don’t think it’s possible with the current implementation. What’s your
use case for that?

On Tue 14. May 2019 at 6:45 AM, Jerry Wong <notifications@github.com> wrote:

[2019-05-16 12:07] spinningarrow commented on #40
Closing as this should be fixed.

[2019-05-16 12:07] #40 closed

[2019-05-16 12:11] spinningarrow commented on #41
Closing because of inactivity. Please let me know if this is still an issue.

[2019-07-04 05:21] karthickramasamy08 opened #47 "Image is not zooming while continuous clicking"
Added the zooming files on my blog page. It is working for normal cases, but i am trying to click the image multiple time continuously it is not respond(can't zooming). Can you please check and help me to resolve this problem.

[2019-07-07 21:02] spinningarrow commented on #47
Can you elaborate on the problem a little? Does it happen on all browsers? Could you send me a video showing the issue?

[2019-07-07 21:03] spinningarrow commented on #43
@equinusocio did the CSS above solve your problem?

[2019-07-07 21:08] spinningarrow commented on #42
@evanart apologies for the incredibly late response - I haven't had the chance to give this a lot of love recently. I do see the problem you described but I can't think of a quick solution off the top of my head.

The transitioning effect for the overlay can be found in [zoom.css](https://github.com/spinningarrow/zoom-vanilla.js/blob/master/css/zoom.css). Perhaps adding some CSS transitions in the

[2019-07-08 07:39] #43 closed

[2019-12-14 17:50] zenbug commented on #41
I can reproduce this. It seems to affect images that have a width style. The image doesn't return to the defined width when it zooms out:
https://codepen.io/mikemella/pen/gObworm

[2020-04-18 09:12] jetibest commented on #47
Yes, it happens on any browser, no need for a video. You can easily reproduce it by reducing your internet speed and disable cache in responsive dev mode of browser. And click again on the image to zoom, while the overlay has not been shown yet, because the image for the overlay is still loading.

The problem is that when the `zoom(event)` is called, it creates the `activeZoom` object together wit

[2020-05-18 21:52] sixpixel commented on #40
Hi @spinningarrow I'm running into this issue on the latest Microsoft Edge Chromium and Google Chrome builds. Appears to work fine in Firefox and Safari, might be a new Chromium bug?

[2020-05-19 08:21] spinningarrow commented on #40
@sixpixel thanks for reporting! I haven't had the chance to check it on Edge Chromium yet but I'm unable to reproduce it on the latest Google Chrome. I'm on version 81.0.4044.138 (macOS).

Which version of google chrome do you see this issue in? And does the issue also happen on the demo page of this library (https://code.sahil.me/zoom-vanilla.js/)?

[2020-05-19 08:26] spinningarrow commented on #47
@jetibest thank you for the reproduction steps! I see the issue now as well. I think option 1 sounds quite straightforward - are there any downsides to that?

Also thanks for the suggestion about fullWidth/naturalWidth. I'll look into it. So far I've avoided making changes to the core of the library that I forked from, but it might be time to revisit that!

[2020-05-19 08:28] spinningarrow commented on #46
Closing because of inactivity; please reopen if that's still something people are interested in!

[2020-05-19 08:28] #46 closed

[2020-05-19 08:42] #38 closed

[2020-05-19 08:42] spinningarrow commented on #44
I wonder what's the best way to achieve this. Maybe this is a use case for the `<picture>` element?

[2020-05-19 08:43] spinningarrow commented on #38
I've tested it by importing it with webpack in a React project, and added a note to the README for the import statements needed.

[2020-05-19 10:32] jetibest commented on #47
Of course, using naturalWidth and naturalHeight is more elegant.

I cannot think of any special downsides to the first option. The only thing to consider is that `.zoom-overlay` is a pretty generic class name, and there might be collisions. But that potential problem is not unique to this specific issue.

[2020-05-21 20:33] sixpixel commented on #40
@spinningarrow Hi sorry, I've been away from my PC for a couple of days. The versions I found the issue on are Microsoft Edge Version 81.0.416.77 (latest stable) and Chrome Canary Version  85.0.4149.2 both on Windows 10. The issue does also happen on your demo page.

[2020-06-10 06:16] Javi4 opened #48 "Problems in Cordova"
Hi! I'm using meteor.js to create a mobile application (compiled with cordova) and it throws me the following error, which blocks the start of the app.

`Uncaught TypeError: Cannot read property 'addEventListener' of null
    at Object.t [as listen] (e973f97309778b7d4931783c58786ebbc4168924.js?meteor_js_resource=true:formatted:34309)`

Inspecting the code, it looks like the error jumps out on this

[2020-07-21 09:56] spinningarrow commented on #48
Sounds like `document.body` is null - it's been a really long time since I used Cordova, is that normally the case? If not, it might have to do with the loading order of the script. The script should be loaded _after_ the DOM is loaded.

[2020-07-31 17:20] adamdehaven commented on #42
@spinningarrow I can help, if you can provide a little more info as to what you are thinking here:

[2020-10-04 23:39] kirillgroshkov commented on #47
I just noticed this issue in my environment as well (more often in dev mode, using nuxt.js).

Would be nice to have fixed soon.

[2021-02-17 17:04] spinningarrow commented on #48
Closing because of inactivity. Please feel free to reopen this if it is still unsolved.

[2021-02-17 17:04] #48 closed, assigned to nobody

[2022-01-11 08:27] thewebartisan7 commented on #44
Did you found a solution?

I was able to use data-original by updating zoomImage:

[code]

However, the result it's not the same. Something else is required in zoom calculation, because sometimes the image is attached to edge of window without margin.

[2022-01-11 22:37] litan1106 opened #50 "Feature Request: Please add ES Module support"
```zoom-vanilla.js doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix.```

[2022-01-12 07:16] thewebartisan7 commented on #44
This seem works fine:

[code]

[2022-01-13 10:09] spinningarrow commented on #50
This is pretty accurate since the original zoom.js was written at a time before ES modules were common. Where do you see this notice, and is it an error (does it prevent zoom-vanilla.js from loading)?

[2022-01-13 10:11] spinningarrow commented on #44
@thewebartisan7 thanks for looking into this! How does this behave on the first zoom for a specific image? I suppose it starts downloading the original image after the thumbnail is clicked?

[2022-01-13 12:33] thewebartisan7 commented on #44
Yes right. The original images it's not downloaded until you click on thumbnail.

[2022-01-13 12:36] spinningarrow commented on #44
Got it. I think that's not ideal - one of the nice things about zoom.js is how smoothly it works and having to wait for the original image to download after clicking on the zoom takes away from that, doesn't it?

[2022-01-13 12:42] spinningarrow commented on #44
How about using the `srcset` attribute for the `<img>` tag? The original full-size image can be the value for `src` and then responsive image options can be provided by `srcset`. I haven't tried it yet but I think that should work with zoom-vanilla.js out of the box.

[2022-01-13 14:25] thewebartisan7 commented on #44
I understand what you mean. I didn't think about this as my internet connection is very fast so I didn't notice any delay with animation, but it's good point to take into account. One thing that passed now in my mind is to start load the original image once users start hover over thumb.

I thought this could works, and I suppose you need to use only the src here:

[code]

to

[code]

However for m

[2022-01-13 15:50] litan1106 commented on #50
I was using vite.js with react.